In [1]:
import pandas as pd
import numpy as np

# Read and preprocess the data

- Read the data

In [2]:
# Read the data
data = pd.read_csv('data/bikeshare.csv')

In [3]:
# Explore the first 10 rows
data.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14

- Handle the datetime variable.

In [4]:
# Add 'year', 'month' and 'hour'
datetime = pd.DatetimeIndex(data['datetime'])
data['year'] = datetime.year
data['month'] = datetime.month
data['hour'] = datetime.hour

# Drop 'datetime'
data.drop('datetime', axis=1, inplace=True)

In [5]:
# Explore the first 10 rows
data.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,hour
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011,1,2
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011,1,3
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011,1,4
5,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,5
6,1,0,0,1,9.02,13.635,80,0.0000,2,0,2,2011,1,6
7,1,0,0,1,8.20,12.880,86,0.0000,1,2,3,2011,1,7
8,1,0,0,1,9.84,14.395,75,0.0000,1,7,8,2011,1,8
9,1,0,0,1,13.12,17.425,76,0.0000,8,6,14,2011,1,9

- Change the variable name.

In [6]:
# Rename the variable 'count'
# 'count' is a method, so it's best to name that column something else 
data.rename(columns={'count':'total'}, inplace=True)

In [7]:
# Explore the first 10 rows
data.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,total,year,month,hour
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011,1,2
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011,1,3
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011,1,4
5,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,5
6,1,0,0,1,9.02,13.635,80,0.0000,2,0,2,2011,1,6
7,1,0,0,1,8.20,12.880,86,0.0000,1,2,3,2011,1,7
8,1,0,0,1,9.84,14.395,75,0.0000,1,7,8,2011,1,8
9,1,0,0,1,13.12,17.425,76,0.0000,8,6,14,2011,1,9

- Drop some variables

In [8]:
# Drop the variables named 'casual' and 'registered'
# 'causal' and 'registered' cannot be used to predict the target variable 'total'
# (You have to understand the data generation background!)
data.drop(['casual', 'registered'], axis=1, inplace=True)

In [9]:
# Explore the first 10 rows
data.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,hour
0,1,0,0,1,9.84,14.395,81,0.0000,16,2011,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,32,2011,1,2
3,1,0,0,1,9.84,14.395,75,0.0000,13,2011,1,3
4,1,0,0,1,9.84,14.395,75,0.0000,1,2011,1,4
5,1,0,0,2,9.84,12.880,75,6.0032,1,2011,1,5
6,1,0,0,1,9.02,13.635,80,0.0000,2,2011,1,6
7,1,0,0,1,8.20,12.880,86,0.0000,3,2011,1,7
8,1,0,0,1,9.84,14.395,75,0.0000,8,2011,1,8
9,1,0,0,1,13.12,17.425,76,0.0000,14,2011,1,9

- Add the derivative variable.

In [10]:
# Add derivative variable "daytime"
data['daytime'] = ((data.hour > 6) & (data.hour < 21)).astype(int)

In [11]:
# Explore the first 10 rows
data.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,hour,daytime
0,1,0,0,1,9.84,14.395,81,0.0000,16,2011,1,0,0
1,1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,1,0
2,1,0,0,1,9.02,13.635,80,0.0000,32,2011,1,2,0
3,1,0,0,1,9.84,14.395,75,0.0000,13,2011,1,3,0
4,1,0,0,1,9.84,14.395,75,0.0000,1,2011,1,4,0
5,1,0,0,2,9.84,12.880,75,6.0032,1,2011,1,5,0
6,1,0,0,1,9.02,13.635,80,0.0000,2,2011,1,6,0
7,1,0,0,1,8.20,12.880,86,0.0000,3,2011,1,7,1
8,1,0,0,1,9.84,14.395,75,0.0000,8,2011,1,8,1
9,1,0,0,1,13.12,17.425,76,0.0000,14,2011,1,9,1

- Convert nominal variables into several binary dummy variables.

In [12]:
# Convert 'season'
season_dummies = pd.get_dummies(data.season, prefix='season')
season_dummies.drop(season_dummies.columns[0], axis=1, inplace=True)
data = pd.concat([data, season_dummies], axis=1)

# Drop 'season'
data.drop('season', axis=1, inplace=True)

In [13]:
# Explore the first 10 rows
data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,hour,daytime,season_2,season_3,season_4
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,1,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,2,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,3,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,4,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,5,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,6,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,7,1,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,8,1,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,9,1,0,0,0

In [14]:
# Convert 'hour'
hour_dummies = pd.get_dummies(data.hour, prefix='hour')
hour_dummies.drop(hour_dummies.columns[0], axis=1, inplace=True)
data = pd.concat([data, hour_dummies], axis=1)

# Convert 'hour'
data.drop('hour', axis=1, inplace=True)

In [15]:
# Explore the first 10 rows
data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,...,0,0,0,0,0,0,0,0,0,0

- Check variable names and data types

In [16]:
print(data.columns)

Index(['holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity',
       'windspeed', 'total', 'year', 'month', 'daytime', 'season_2',
       'season_3', 'season_4', 'hour_1', 'hour_2', 'hour_3', 'hour_4',
       'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11',
       'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17',
       'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23'],
      dtype='object')

In [17]:
print(data.dtypes)

holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
total           int64
year            int64
month           int64
daytime         int64
season_2        uint8
season_3        uint8
season_4        uint8
hour_1          uint8
hour_2          uint8
hour_3          uint8
hour_4          uint8
hour_5          uint8
hour_6          uint8
hour_7          uint8
hour_8          uint8
hour_9          uint8
hour_10         uint8
hour_11         uint8
hour_12         uint8
hour_13         uint8
hour_14         uint8
hour_15         uint8
hour_16         uint8
hour_17         uint8
hour_18         uint8
hour_19         uint8
hour_20         uint8
hour_21         uint8
hour_22         uint8
hour_23         uint8
dtype: object

# Data split

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
# All variables except 'total' (target variable) => X
# 'total' (target variable) => Y
X = data.drop('total', axis=1)
Y = data['total']

In [20]:
# Split the data: train set 70%, test_set 30%
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1234)

# Save the data
- `pickle`
- `pandas.DataFrame.to_csv`

In [21]:
# pickle (pickle + pandas)
data.to_pickle('data/processed_bikeshare.pkl')

In [22]:
# DataFrame.to_csv
# data.to_csv('data/processed_bikeshare.csv', encoding='utf8')
data.to_csv('data/processed_bikeshare.csv', encoding='cp949')

# *Side note: How to load the data

In [23]:
# pickle (pickle + pandas)
loaded_data = pd.read_pickle('data/processed_bikeshare.pkl')

In [24]:
loaded_data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# DataFrame.read_csv
loaded_data = pd.read_csv('data/processed_bikeshare.csv')

In [26]:
loaded_data.head(10)

,Unnamed: 0,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,0,1,9.84,14.395,81,0.0000,16,2011,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,9.02,13.635,80,0.0000,40,2011,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,1,9.02,13.635,80,0.0000,32,2011,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,1,9.84,14.395,75,0.0000,13,2011,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,1,9.84,14.395,75,0.0000,1,2011,...,0,0,0,0,0,0,0,0,0,0
5,5,0,0,2,9.84,12.880,75,6.0032,1,2011,...,0,0,0,0,0,0,0,0,0,0
6,6,0,0,1,9.02,13.635,80,0.0000,2,2011,...,0,0,0,0,0,0,0,0,0,0
7,7,0,0,1,8.20,12.880,86,0.0000,3,2011,...,0,0,0,0,0,0,0,0,0,0
8,8,0,0,1,9.84,14.395,75,0.0000,8,2011,...,0,0,0,0,0,0,0,0,0,0
9,9,0,0,1,13.12,17.425,76,0.0000,14,2011,...,0,0,0,0,0,0,0,0,0,0

Oh... there is a variable 'Unnamed:0'. It is an index column.
How to save the data without that variable?

In [27]:
data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Add parameter: index=False
data.to_csv('data/processed_bikeshare.csv', index=False, encoding='utf8')

In [29]:
loaded_data = pd.read_csv('data/processed_bikeshare.csv')
loaded_data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,...,0,0,0,0,0,0,0,0,0,0

# Simple linear regression vs. Ridge vs. Lasso

In [30]:
# Import classes
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error

- Simple linear regression

In [31]:
# Fit the linear regression model
linreg = LinearRegression()
linreg.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = linreg.predict(X_train)
Y_test_hat  = linreg.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = linreg.score(X_train, Y_train)
r2_test = linreg.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  100.58211013950161
Test RMSE:  102.59230834050179
Train R^2:  0.6952412744110946
Test R^2:  0.6701152831867127

- Ridge

In [32]:
# Fit the Ridge regression model
ridge = Ridge(alpha=0.5, normalize=False)
ridge.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = ridge.predict(X_train)
Y_test_hat  = ridge.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = ridge.score(X_train, Y_train)
r2_test = ridge.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  100.58220916313238
Test RMSE:  102.5879062461963
Train R^2:  0.695240674337576
Test R^2:  0.6701435923748232

- Lasso

In [33]:
# Fit the Lasso regression model
lasso = Lasso(alpha=1.0, normalize=False)
lasso.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = lasso.predict(X_train)
Y_test_hat  = lasso.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = lasso.score(X_train, Y_train)
r2_test = lasso.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  102.75760329712175
Test RMSE:  103.894486154321
Train R^2:  0.6819154344709264
Test R^2:  0.6616878529430846

# Regression with polynomial feature set

In [34]:
from sklearn.preprocessing import PolynomialFeatures

In [35]:
poly = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)

In [36]:
X_processed = poly.fit_transform(X)

In [37]:
print('Original X: ', X.shape)
print('Processed X: ', X_processed.shape)

Original X:  (10886, 36)
Processed X:  (10886, 702)

In [38]:
X.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,daytime,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,2011,1,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,2011,1,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,2011,1,1,...,0,0,0,0,0,0,0,0,0,0

In [39]:
X_processed[0:10, :]

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

- Split X_processed and Y

In [40]:
# Split the data: train set 70%, test_set 30%
X_train, X_test, Y_train, Y_test = train_test_split(X_processed, Y, test_size=0.3, random_state=1234)

- Simple regression

In [41]:
# Fit the linear regression model
linreg = LinearRegression()
linreg.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = linreg.predict(X_train)
Y_test_hat  = linreg.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = linreg.score(X_train, Y_train)
r2_test = linreg.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  51.685639424752104
Test RMSE:  53.693814833709865
Train R^2:  0.9195262108753041
Test R^2:  0.9096389822137769

- Ridge

In [42]:
# Fit the Ridge regression model
ridge = Ridge(alpha=0.4, normalize=False)
ridge.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = ridge.predict(X_train)
Y_test_hat  = ridge.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = ridge.score(X_train, Y_train)
r2_test = ridge.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  59.521907704595655
Test RMSE:  62.06409633325751
Train R^2:  0.8932744631942011
Test R^2:  0.8792704824560885

- Lasso

In [43]:
# Fit the Lasso regression model
lasso = Lasso(alpha=1.0, normalize=False)
lasso.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = lasso.predict(X_train)
Y_test_hat  = lasso.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = lasso.score(X_train, Y_train)
r2_test = lasso.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  74.34251243237225
Test RMSE:  75.81661995584675
Train R^2:  0.8335096248160163
Test R^2:  0.8198387318482786

/Users/kth/miniconda3/envs/ml/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

# Save the models

In [44]:
from sklearn.externals import joblib

In [45]:
joblib.dump(lasso, './lasso_trained.pkl')

['./lasso_trained.pkl']

In [46]:
lasso_2 = joblib.load('./lasso_trained.pkl')

In [ ]:
lasso_2

In [47]:
# Calculate Y_train_hat and Y_test_hat
Y_train_hat = lasso_2.predict(X_train)
Y_test_hat  = lasso_2.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = lasso.score(X_train, Y_train)
r2_test = lasso.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  74.34251243237225
Test RMSE:  75.81661995584675
Train R^2:  0.8335096248160163
Test R^2:  0.8198387318482786